@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0
}
#wrapper {
    min-height: calc(100vh - 4rem)
}
table {
    margin: auto;
    border-collapse: collapse
}
h1 {
    margin-top: 0;
    padding-top: 20px
}
p {
    margin: 0;
    padding: 5px
}
th, td {
    border: 1px solid black;
    padding: 5px;
    width: 150px
}
td {
    text-align: right
}
footer {
    height: 4rem
}
.fastSpeed {
    background-color: #CFC
}
.normalSpeed {
    background-color: #FFB
}
.slowSpeed {
    background-color: #F99
}
